html,
body {
    font-family: Tahoma;
    font-size: 8pt;
}

table {
    border-collapse: collapsed;
}

th {
    background: red;
    color: white;
    padding: 2px;
    vertical-align: top;
}

th.prefetch {
    background: rgba(0, 128, 0, 0.9);
}

th.normal {
    background: rgba(0, 0, 128, 0.9);
}

td {
    border: solid 1px lightgray;
    padding: 2px;
    vertical-align: top;
}

code {
    background: lightgray;
    color: black;
}

tr.pass {
    background: rgba(0, 255, 0, 0.08);
}

tr.fail {
    background: rgba(255, 0, 0, 0.08);
}