<!doctype html>
<html>

<head>

<script>
if (typeof console === "undefined") {
  document.write("<script src=vendor/console-polyfill.js></scr" + "ipt>");
}
</script>
<script src="vendor/babel-polyfill.js"></script>
<script src="vendor/bluebird.js"></script>
<script src="vendor/jquery.js"></script>
<script src="dist.js"></script>
<script>
var resolveData = <%- JSON.stringify(view.resolveData) %>;
var rejectData = <%- JSON.stringify(view.rejectData) %>;
require("ResourcePrefetchTests").TestFramePage.runInHead(window, resolveData, rejectData);
</script>

<% view.htmlContent.forEach((htmlContent) => {
  if (htmlContent.placeInTag === "head") {
    %><%- htmlContent.html() %><%
  }
});
%>

<style>
.standard-font {
  font-family: Arial;
  font-size: 30pt;
}
</style>

</head>

<body>

This frame is used to load resources 'normally', i.e. not using a prefetch technique. <%= Object.keys(view).length === 0 ? "No view" : "" %>

<span id="standard-font-span" class="standard-font">wwwwwwwwww</span>

<% view.htmlContent.forEach((htmlContent) => {
  if (htmlContent.placeInTag === "body") {
    %><%- htmlContent.html() %><%
  }
});
%>
</body>

</html>
